// Buttons
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #1A1A1A;
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    font-weight: var(--font-semi-bold);
    transition: .3s;

    &:hover {
        border-color: var(--first-color-alt);
    }

    &__header {
        display: none;
    }
}